.modal-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    pointer-events: none;
    z-index: 5000;
}

.modal-body {
    position: fixed;
    width: 640px;
    height: 480px;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -240px;
    background: #fff;
    display: none;
    z-index: 5001;
}
